html {
    background-image: url("../img/44843.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.hyperlink:link {
    color: rgb(47, 181, 231);
    text-decoration: none;
}

.cookiesPopup {
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    padding: 2px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(30, 30, 60);
    align-items: center;
}

#ButtonCookie {
    position: fixed;
    bottom: 15px;
    width: 50%;
    align-items: center;
    opacity: 0.75;
    margin-left: 23%;
    margin-right: 23%;
}

#ButtonCookie:hover {
    opacity: 1;
}

#CookieConfirmButton {
    background-color: rgb(30, 30, 70);
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 0px;
}

#CookieConfirmButton:hover {
    background-color: rgb(50, 50, 100);
    cursor: pointer;
}

#CookieConfirmButton:focus {
    outline: 0px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    opacity: 0.8;
    margin-left: -8px;
    padding: -7px;
    overflow: hidden;
    border: 0px;
    background-color: rgb(30, 30, 30);
    top: -8px;
    position: relative;
    width: 100%;
}

.navpog {
    float: left;
}

.navpog a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}

.navpog a:hover:not(.active) {
    background-color: rgb(60, 60, 60);
}

.navpog a.active {
    color: white;
    text-shadow: 0 0 15px #4CAF50;
}