html {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.hyperlink:link {
    color: rgb(47, 181, 231);
    text-decoration: none;
}

.cookiesPopup {
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    padding: 2px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(30, 30, 60);
    align-items: center;
}

#ButtonCookie {
    position: fixed;
    bottom: 15px;
    width: 50%;
    align-items: center;
    opacity: 0.75;
    margin-left: 23%;
    margin-right: 23%;
}

#ButtonCookie:hover {
    opacity: 1;
}

#CookieConfirmButton {
    background-color: rgb(30, 30, 70);
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 0px;
}

#CookieConfirmButton:hover {
    background-color: rgb(50, 50, 100);
    cursor: pointer;
}

#CookieConfirmButton:focus {
    outline: 0px;
}

.navigation {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    opacity: 0.8;
    margin-left: -8px;
    padding: -7px;
    border: 0px;
    background-color: rgb(30, 30, 30);
    top: -8px;
    position: relative;
    width: 100%;
}

.navpog {
    float: left;
    position: relative;
    opacity: 1;
    color: white;
}

.navpog a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}

.invertcolors {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.navpog a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transition-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(54, 173, 228, 0.9);
    text-shadow: 0 0 15px rgba(54, 157, 204, 0.9);
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

.navpog a:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.navpog a.active {
    color: white;
    text-shadow: 0 0 25px #4CAF50;
}

.navpog a.active:not:hover {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.dropdown-content {
    list-style-type: none;
}

.dropdown:hover {
    display: block;
}

.navpog {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.navpog:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(68, 174, 223, 0.2);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navpog:hover,
.navpog:focus,
.navpog:active {
    color: white;
}

.navpog:hover:before,
.navpog:focus:before,
.navpog:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.testlogo {
    padding-right: 50px;
}

.dropdown {
    display: none;
}

.wrapper.style3 {
    background-color: #000;
    color: #bfbfbf;
    background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/napavalley/Chappellet_Vineyard_Sunset_in_Fall_42eaa7cf-a1f1-4f6b-a260-b6890a6762db.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}